/*
Theme Name: laycocks
Theme URI: 
Description: 
Version: 1
Author: Puddle
Author URI: 
*/


// Foundation by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

// Behold, here are all the Foundation components.
@import 'foundation/components/grid';
//@import 'foundation/components/accordion';
//@import 'foundation/components/alert-boxes';
//@import 'foundation/components/block-grid';
//@import 'foundation/components/breadcrumbs';
//@import 'foundation/components/button-groups';
//@import 'foundation/components/buttons';
//@import 'foundation/components/clearing';
//@import 'foundation/components/dropdown';
//@import 'foundation/components/dropdown-buttons';
//@import 'foundation/components/flex-video';
//@import 'foundation/components/forms';
//@import 'foundation/components/icon-bar';
//@import 'foundation/components/inline-lists';
//@import 'foundation/components/joyride';
//@import 'foundation/components/keystrokes';
//@import 'foundation/components/labels';
//@import 'foundation/components/magellan';
//@import 'foundation/components/orbit';
//@import 'foundation/components/pagination';
//@import 'foundation/components/panels';
//@import 'foundation/components/pricing-tables';
//@import 'foundation/components/progress-bars';
//@import 'foundation/components/range-slider';
//@import 'foundation/components/reveal';
//@import 'foundation/components/side-nav';
//@import 'foundation/components/split-buttons';
//@import 'foundation/components/sub-nav';
//@import 'foundation/components/switches';
//@import 'foundation/components/tables';
//@import 'foundation/components/tabs';
//@import 'foundation/components/thumbs';
//@import 'foundation/components/tooltips';
//@import 'foundation/components/top-bar';
//@import 'foundation/components/type';
//@import 'foundation/components/offcanvas';
//@import 'foundation/components/visibility';

// Make sure the charset is set appropriately
@charset "UTF-8";

// First include the default variables then include any overrides
@import "css/foundation.css";
@import "variables";

body {
	margin: 0px;
	background-image: url(images/site-background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center; 
	font-family: "mesquite-std";
}

h1 {
	font-family: "mesquite-std";
}

.row {
	max-width: 1140px;
}

.title-bauble {
	background-image: url(images/title-bauble.png);
	background-repeat: no-repeat;
	height: 314px;
	min-width: 230px;
	display: inline-block;
	margin: 0px 10px;
	*display: inline;

	h1 {
		font-size: 48px;
		color: #FFFFFF;
		text-align: center;
		line-height: 52px;
    	padding-top: 53%;
    	letter-spacing: 2px;
	}
}

.comp-info {
	min-width: 735px;
    display: inline-block;
    vertical-align: top;
    font-size: 48px;
    line-height: 52px;
    padding-top: 4%;
    letter-spacing: 2px;
    -ms-transform: rotate(-8deg);
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg);
	*display: inline;

	span {
		color: #c32627;
	}
}

.win-instantly {
    background-image: url(images/white-bauble.png);
    background-repeat: no-repeat;
    color: #000000;
    font-size: 28px;
    line-height: 28px;
    min-width: 102px;
    display: inline-block;
    vertical-align: top;
    height: 140px;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 55px;
    line-height: 28px;
    *display: inline;
}

.register {
	margin-top: -100px;
}

.details-ribbon {
	font-family: 'Open Sans', sans-serif;
	font-size: 34px;
	background-image: url(images/details-ribbon.png);
	background-repeat: no-repeat;
	text-align: center;
	color: #FFFFFF;
	font-weight: 600;
	min-height: 62px;
	margin-bottom: 25px;
	background-size: contain;
}

.how-to-play {
	background-image: url(images/how-to-play-bg.png);
    background-repeat: no-repeat;
    height: 675px;
    margin-top: -190px;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    padding-left: 30px;
    padding-top: 35px;
    padding-right: 0px;

    .opening-text {
    	font-size: 30px;
    	font-weight: 800;
    	text-align: center;
    	line-height: 34px;
    }

    .instructions {
    	font-size: 16px;
    	padding: 20px 10px 0px 10px;
    	font-family: 'Open Sans', sans-serif;

    	p {
    		line-height: 1.4em;
    		margin-bottom: 15px;
    	}
    }

    .end-content {
    	font-size: 16px;
    	padding: 0px 10px 0px 10px;
    	font-family: 'Open Sans', sans-serif;
    	text-align: center;

    	p {
    		font-weight: 600;
    		line-height: 1.4em;
    		margin-bottom: 15px;
    	}
    }
}

form {
	font-family: 'Lato', sans-serif;

	input[type="text"], input[type="password"] {
		background-color: #FFFFFF;
		border: 2px solid #000000;
		border-radius: 20px;
		font-size: 23px;
		height: 50px;
		opacity: 0.9;
	}

	input[type="submit"] {
		background-color: #c32627;
		opacity: 0.9;
		height: 50px;
		border-radius: 10px;
		font-weight: bold;
		text-transform: uppercase;
		width: 120px;
		float: right;
		border: none;
    	color: #FFFFFF;
	}
}

::-webkit-input-placeholder {
   color: #000000;
   font-size: 23px;
   height: 50px;
   text-transform: uppercase;
}

:-moz-placeholder { /* Firefox 18- */
   color: #000000;
   font-size: 23px;
   height: 50px;
   text-transform: uppercase;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #000000;
   font-size: 23px;
   height: 50px;
   text-transform: uppercase;  
}

:-ms-input-placeholder {  
   color: #000000;
   font-size: 23px;
   height: 50px;
   text-transform: uppercase;  
}
.error-mess {
	font-family: 'Open Sans', sans-serif;
	color: #c32627;
	font-weight: bold;
}


.thanks-content {
	background-color: #FFFFFF;
    opacity: 0.8;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    font-family: 'Open Sans', sans-serif;
    max-width: 595px;
    float: right;
    margin-right: -15px;

	p {
		font-size: 30px;
		color: #000000;
		font-weight: 600;
		line-height: 34px;
	}

	strong {
		font-size: 30px;
		color: #c32527;
	}

	h2 {
		font-size: 36px;
		font-weight: bold;
		color: #c32527;
	}

	img {
		position: absolute;
		right: -25px;
		bottom: -35px;
	}
}

#login-error {
	margin-bottom: 20px;
	font-family: 'Open Sans', sans-serif;
}

.share {
	background-image: url(images/share-bg.png);
	height: 282px;
	width: 235px;
	background-repeat: no-repeat;
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
	font-size: 24px;
	font-weight: bold;
	padding-top: 45px;

	.text {
		width: 220px;
		text-align: center;
		line-height: 28px;
	}
}
/*@media only screen and (min-width: 1400px) and (max-width: 1600px) {

}*/

/*@media only screen and (min-width: 1160px) and (max-width: 1400px) {

}*/

@media only screen and (min-width: 960px) and (max-width: 1159px) { 

}

@media only screen and (min-width: 768px) and (max-width: 959px) {
		
}

@media only screen and (max-width: 767px) {

}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	

}

@media only screen and (min-width: 320px) and (max-width: 480px) {
	
}
